//  ==========================================================================
//  Sass Modules for Style
//  ==========================================================================
	
	@media screen and (max-width:700px){
		html, body{
			height: auto;
		}
	}
	
//  ==========================================================================
//  Font
//  ==========================================================================

	.gotham{
		font-family: $gotham;
	}
	
//  ==========================================================================
//  Themeatic Styles Below
//  ==========================================================================
	
	.btn{
		font-family: $gotham;
		letter-spacing: 4px;
		text-transform: uppercase;
		font-size: 15px;
		background: $basil;
		color: white;
		padding: 14px 25px;
		display: inline-block;
	}
	
	.btn--orange{
		background: $orange;
		&:hover{
			background: darken($orange,10%);
		}
	}
	
	@media screen and (max-width:700px){
		.btn{
			font-size: 13px;
			letter-spacing: 1px;
		}
	}
	
//  ==========================================================================
//  Primary Nav
//  ==========================================================================


	.primary-nav{
		background: white;
		position: fixed;
		top: 0px;
		left: 0px;
		z-index: 999;
		max-height: 74px;
	}
	
	.primary-nav > ul{
		@extend .full-width;
		margin: 0;
		padding: 0;
		text-align: center;
	}
	
	.primary-nav > ul li{
		display: inline-block;
		vertical-align: top;
		min-width: 125px;
		> a{
			display: inline-block;
			padding: 30px;
			color: black;
			text-transform: uppercase;
			font: normal 13px $gotham;
			@include box-sizing(border-box);
			&:hover{
				color: $orange;
			}
		}
		&.primary-nav__logo{
			> a{
				padding: 0 30px;
			}
		}
	}
	
	.primary-nav__mobile-toggle{
		position: absolute;
		right: 10px;
		top: 14px;
		color: $basil;
		font-size: 40px;
		background: white;
		border: 1px solid #eee;
		-webkit-appearance: none;
		outline: none;
		-moz-outline: none;
		padding: 0 10px;
		z-index: 999;
		display: none;
		visibility: hidden;
		@include border-radius(0px);
	}
	
	@media screen and (max-width:1100px){
		.primary-nav > ul li {
			min-width: 90px;
			> a{
				padding: 30px 10px;
			}
		}
	}
	
	@media screen and (max-width:960px){
		.primary-nav > ul li {
			min-width: 90px;
			> a{
				padding: 30px 0px;
			}
			&.primary-nav__logo{
				img{
					width: 160px;
					height: auto;
				}
				> a{
					padding: 0 10px;
				}
			}
		}		
	}
	
	@media screen and (max-width:760px){
		.primary-nav > ul li{
			&.primary-nav__logo{
				img{
					width: 77px;
					height: auto;
				}
			}
		}
	}
	
	
	@media screen and (max-width:700px){
		.primary-nav{
			min-height: 80px;
		}
		.primary-nav > ul li{
			&.primary-nav__logo{
				position: absolute;
				top: 0px;
				left: 0px;
			}
		}
		.primary-nav > ul li:not(.primary-nav__logo){
			float:left;
			width: 100%;
			position: relative;
			display: block;
			border-bottom: 1px solid #eee;
			visibility: hidden;
			display: none;
			&:first-child{
				margin-top: 110px;
				border-top: 1px solid #eee;
			}
			> a{
				padding: 15px 0;
				width: 100%;
				display: block;
			}
		}
		.primary-nav > ul li.mobile-visible{
			display: block;
			visibility: visible;
		}
		.primary-nav__mobile-toggle{
			display: block;
			visibility: visible;
			width: 55px;
			text-align: center;
			&.toggle-open{
				.fa{
					&::before{
						content: '\f00d';
					}
				}
			}
		}
	}
	
//  ==========================================================================
//  Hero
//  ==========================================================================


	.hero{
		position: absolute;
		top: 0px;
		left: 0px;
		min-height: 611px;
		height: 100%;
		width: 100%;
		max-height: 100%;
		background: #4c4738;
		background: image-url('tulley-hero-bg.jpg') center center no-repeat;
		@include background-size(cover);
	}
	
	.hero-push{
		position: absolute;
		top: 100%;
		left: 0px;
		width: 100%;
	}
	
	@media screen and (max-width:700px){
		.hero-push{
			float: left;
			clear: left;
			top: 0px;
			width: 100%;
			position: relative;
		}
	}
	
	.hero__cta{
		background: rgba(white,.8);
		padding: 40px 60px;
		max-width: 600px;
		display: inline-block;
		margin: 200px 0 0 0;
		@include box-sizing(border-box);
	}
	
	@media screen and (max-width:700px){
		.hero__cta{
			margin: 60px 0 0 -45%;
			width: 90%;
			padding: 20px;
			float: left;
			position: relative;
			left: 50%;
		}
		
		.hero{
			height: auto;
			min-height: inherit;
			float: left;
			position: relative;
			display: block;
			width: 100%;
			.vertical-center{
				position: relative;
				display: block;
				padding: 80px 0;
				width: 100%;
				float: left;
				height: auto;
				min-height: inherit;
				.center{
					float: left;
					width: 100%;
					position: relative;
					display: block;
				}
			}
		}
	}
	
//  ==========================================================================
//  Content HD
//  ==========================================================================

	.content-hd{
		color: #500810;
		padding-bottom: 49px;
		text-transform: uppercase;
		> * {
			margin: 0;
			padding: 0;
		}
	}
	
	.content-hd--zero{
		padding: 0px 0px 20px 0px;
	}
	
	.content-hd--med{
		padding-bottom: 39px;
	}
	
	.orange-stars{
		color: $orange;
		font-size: 42px;
	}
	
	.content-img{
		img{
			border: 8px solid #eee;
			@include box-sizing(border-box);
			@include border-radius(100%);
		}
		+ .content-hd{
			margin-top: 30px;
		}
	}
	
	.content-hd--tight{
		padding-bottom: 20px;
	}
	
	.content-bd,
	.content-bd > p{
		margin: 0;
		padding: 0;
		line-height: 32px;
		a.link{
			color: $orange;
			&:hover{
				text-decoration: underline !important;
			}
		}
	}
	
	.content-bd + .content-bd {
		padding-top: 24px;
	}
	

//  ==========================================================================
//  Section
//  ==========================================================================
	
	.section{
		padding: 175px 0;
		background: white;
	}
	
	.section--md{
		padding: 100px 0;
	}
	
	@media screen and (max-width:700px){
		.section{
			padding: 40px 20px;
			@include box-sizing(border-box);
		}
	}
	
	.section-hd{
		color: #500810;
		text-transform: uppercase;
		background: rgba(white, .8);
		padding: 23px 15px 12px 15px;
		display: inline-block;
		> * {
			margin: 0;
			padding: 0;
		}
	}
	
	
	.section--flower-grey{
		background: white image-url('flower-grey.svg') center center no-repeat;
		@include background-size(contain);
	}
	
	.section--flower-green{
		background: white image-url('flower-green.svg') 28% center no-repeat;
		@include background-size(contain);
	}
	
	@media screen and (max-width:1280px){
		.section--flower-green{
			background-position: 18% center;
		}
	}
	
	@media screen and (max-width:1100px){
		.section--flower-green{
			background-position: 10% center;
		}
	}
	
	
	@media screen and (max-width:980px){
		.section--flower-green{
			&::after{
				position: absolute;
				content: '';
				background: rgba(white,.7);
				width: 100%;
				height: 100%;
				top: 0px;
				left: 0px;
				z-index: 1;
			}
			.row{
				z-index: 9;
				position: relative;
			}
		}
	}

	.section--raddish{
		background: white image-url('bg-raddish.jpg') center center no-repeat;
		@include background-size(cover);
	}
	
	.section--sunflow{
		background: white image-url('bg-sunflow.jpg') center center no-repeat;
		@include background-size(cover);
	}
	
	.section--mailbox{
		background: white image-url('bg-mailbox.jpg') center center no-repeat;
		height: 548px;
		@include background-size(cover);
	}
	
	.section--leaves{
		background: white image-url('leafy-bg.jpg') center center no-repeat;
		@include background-size(cover);
	}
	
//  ==========================================================================
//  H List
//  ==========================================================================

	.h-list{
		margin: 0;
		padding: 0;
		li{
			display: inline-block;
			margin: 0 5px;
		}
	}
	
	.social-icons{
		font-size: 40px;
		li{
			color: white;
			background: $default-grey;
			padding: 5px 20px;
			@include border-radius(100%);
			@include transition-duration(.2s);
			@include transition-property(all);
			&:hover{
				background: $orange;
				a{
					color: white;
				}
			}
		}
		li > a{
			color: white;
		}
	}
	
	@media screen and (max-width:600px){
		.social-icons{
			font-size: 20px;
			li{
				padding: 2px 10px;
			}
		}
	}
	
	
//  ==========================================================================
//  Footer
//  ==========================================================================
	
	.primary-footer{
		background: #333333;
		> * {
			padding: 0;
			margin: 0;
			color: #a59b9b;
			font-size: 12px;
		}
		p a{
			color: #a59b9b;
			text-decoration: underline !important;
		}
	}