//  ==========================================================================
//  Globals
//  ==========================================================================
	
	@mixin center-container($width, $minWidth){
		float: left;
		position: relative;
		display: block;
		width: #{$width}px;
		min-width: #{$minWidth}px !important;
		margin-left: -$width*.5+px;
		left: 50%;
	}
	
//  ==========================================================================
//  Fonts
//  ==========================================================================
	
	@include font-face("foundation-icons", font-files("foundation-icons.eot","foundation-icons.ttf", "foundation-icons.woff"));
    @include font-face("FontAwesome", font-files("fontawesome-webfont.eot", "fontawesome-webfont.ttf", "fontawesome-webfont.woff"));
	@include font-face("gotham", font-files("GothamHTF-Book-webfont.eot","GothamHTF-Book-webfont.ttf", "GothamHTF-Book-webfont.woff"));
	@include font-face("sabon", inline-font-files('SabonLTStd-Roman.ttf'));
	
	//Default Font Families, Adjustments etc
	$default-font-family: "Arial", "Helvetica", sans-serif !default;
	$default-heading-family: $default-font-family;
	$default-font-size: 		14px !default;
	$default-light-height:		18px !default;
	
	$gotham: "gotham", "Arial", "Helvetica", sans-serif;
	$sabon: "sabon", "Times", "Georgia", serif;
	
	$default-text-color: #5c6060;
	$default-grey:		#adafaf;
	$orange: #ed910d;
	$maroon: #500810;
	$basil: #a2c624;

//  ==========================================================================
//  Default Sizing 
//  ==========================================================================
	
	$default-min-width:	 980px !default;
	$default-min-height: 768px !default;
	

//  ==========================================================================
//  Breakpoints 
//  ==========================================================================

    $global-1024:  'screen' max-width 1024px;
    $global-959:   'screen' max-width 959px;
    $global-640:   'screen' max-width 640px;
    $global-360:   'screen' max-width 360px;

//  ==========================================================================
//  Type
//  ==========================================================================

    $h1map: (fontSize: 53px, lineHeight: 63px, letterSpacing: 2px);
    $h2map: (fontSize: 46px, lineHeight: 56px, letterSpacing: 2px);
    $h3map: (fontSize: 41px, lineHeight: 52px, letterSpacing: 0px);
    $h4map: (fontSize: 28px, lineHeight: 34px, letterSpacing: 0px);
    $h5map: (fontSize: 18px, lineHeight: 26px, letterSpacing: 0px);
    
    $h1map_959: (fontSize: 53px, lineHeight: 63px, letterSpacing: 2px);
    $h2map_959: (fontSize: 46px, lineHeight: 56px, letterSpacing: 2px);
    $h3map_959: (fontSize: 41px, lineHeight: 52px, letterSpacing: 0px);
    $h4map_959: (fontSize: 28px, lineHeight: 34px, letterSpacing: 0px);
    $h5map_959: (fontSize: 16px, lineHeight: 26px, letterSpacing: 0px);
    
    $h1map_640: (fontSize: 26px, lineHeight: 32px, letterSpacing: 0px);
    $h2map_640: (fontSize: 24px, lineHeight: 30px, letterSpacing: 0px);
    $h3map_640: (fontSize: 21px, lineHeight: 28px, letterSpacing: 0px);
    $h4map_640: (fontSize: 18px, lineHeight: 22px, letterSpacing: 0px);
    $h5map_640: (fontSize: 14px, lineHeight: 24px, letterSpacing: 0px);


//  ==========================================================================
//  Sprites, Image Refs
//  ==========================================================================		